* {
  margin: 0;
  padding: 0;
}

.navbar-collapse.show {
  height: auto;
  padding: 5px;
  text-align: right;
}

.nav-link {
  color: #000 !important;
  display: grid;
  place-items: center;
}

.nav-link:hover {
  color: #178b8f !important;
  text-decoration: underline;
}

.footer-links li a {
  text-decoration: none;
  color: #222;
}

footer {
  border-top: 5px solid #178b8f;
  background-color: #696969 !important;
}
.drawings {
  display: flex;
}
.box {
  height: 15px;
  width: 15px;
  background-color: #eee9e9;
}

.line {
  height: 1px;
  width: 9em;
  background-color: #eee9e9;
}

h1 span {
  font-size: 0.6rem;
}
.active-bar {
  background-color: #178b8f;
}

button {
  z-index: 1;
}

.sub-menu {
  display: none;
}
.nav-item:hover .sub-menu {
  display: block;
  position: absolute;
  list-style: none;
  text-align: left;
  background-color: #eee9e8;
  min-width: 160px;
  animation-name: show;
  animation-duration: 0.5s;
  border: 1px solid #eee9e8;
  border-radius: 5px;
}

@keyframes show {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.sticky-top{
  background-color: #fff;
  width: 100vw;
}

section{
  min-height: 100vh;
}

.nav-item:hover .sub-menu a {
  margin-left: -25px;
  line-height: 2em;
  border-radius: 2px;
  text-decoration: none;
  color: #000;
}
.bg {
  background-color: #0a2e3b;
  color: #fff;
}

.arrow {
  position: relative;
}

.one {
  height: 30px;
  background-color: #0a2e3b;
}

.twos {
  background-color: #0a2e3b;
  height: 50px;
  width: 50px;
  position: absolute;
  top: -10px;
  right: 26em;
  rotate: 45deg;
}

.contact-form-wrapper {
  padding: 50px 0;
  margin: 20px;
  border-radius: 5px;
}

.contact-form {
  margin: auto;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #b4b4b4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #b4b4b4;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #b4b4b4;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #b4b4b4;
}

@media screen and (min-width: 900px) {
  .grid {
    display: flex;
    align-self: flex-end;
  }
}
